<html>
    <head>
        <title>Faker</title>
        <style type="text/css" media="screen">
            body {
                margin: 20px;
            }
            ul {
                list-style-type: none;
                padding-left: 0;
            }
            li {
                padding-bottom: 5px;
            }
        </style>
    </head>
    <body>
        <ul>
            {% for route in routes %}
                <li>
                    {{ route.method }}
                    <a href="{{ route.path }}">{{ route.path }}</a>
                </li>
            {% endfor %}
        </ul>
    </body>
</html>